spring:
  datasource:
    url: jdbc:mysql://${MYSQLHOST:127.0.0.1}:${MYSQLPORT:3306}/${MYSQLDATABASE:hihi}
    username: ${MYSQLUSER:root}
    password: ${MYSQLPASSWORD:Thang2005}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:daolelongvu1000@gmail.com}
    password: ${MAIL_PASSWORD:0986770920}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com

jwt:
  signerKey: ${JWT_SIGNER_KEY:fAhsFQLtyhPPawzKmGDEU/IDeBpV7nGnIaQIWYZCzh8qGSb+ETsbFOoMfwfNsUgA}

server:
    port: ${PORT:8080}
    servlet:
        context-path: /arigatouAirlines